@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  html,
  body {
    @apply dark:bg-[#282C35] bg-[#f5f5f5] font-Montserrat min-h-screen;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-Montserrat;
  }
}

@layer components {
  .underlined {
    position: relative;
    text-decoration: none !important;
    white-space: nowrap;
  }

  .underlined:focus {
    outline: none;
    text-decoration: none !important;
  }

  .underlined:after {
    content: "";
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    transform-origin: left;
    left: 0;
    bottom: -4px;
    width: 100%;
    display: block;
    position: absolute;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    background-color: currentColor;
    transform: scaleX(1);
  }

  @media (prefers-reduced-motion) {
    .underlined:after {
      opacity: 0;
      transition: opacity 0.25s ease;
    }

    .underlined:hover:after,
    .underlined:focus:after,
    .active.underlined:after {
      opacity: 1;
    }
  }
  .text-blog-dark {
    font-family: Merriweather, Georgia, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.88);
  }
  .text-blog {
    font-family: Merriweather, Georgia, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    color: #222;
  }
  .bg-pink-grad {
    background: #ffa7c4;
    background: linear-gradient(to left, #ffa7c4 0%, #ffcce6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-red-grad {
    background: #801d3d;
    background: linear-gradient(to left, #801d3d 0%, #d23669 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .shadow-gradient-pink:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #ffa7c4 -14%, #ffffff 114%);
    transform: translate3d(10px, 5px, 0) scale(0.85);
    filter: blur(20px);
    opacity: var(1);
    transition: opacity 0.3s;
    border-radius: inherit;
  }

  /* 
  * Prevents issues when the parent creates a 
  * stacking context. (For example, using the transform
  * property )
  */
  .shadow-gradient-pink::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }

  .shadow-gradient-red:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #d23669 -14%, #454545 114%);
    transform: translate3d(10px, 5px, 0) scale(0.85);
    filter: blur(20px);
    opacity: var(1);
    transition: opacity 0.3s;
    border-radius: inherit;
  }

  /* 
  * Prevents issues when the parent creates a 
  * stacking context. (For example, using the transform
  * property )
  */
  .shadow-gradient-red::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
  polygon.arrow-bottom {
    transform: translateY(-18px);
  }
  .hover-btn:hover polygon.arrow-bottom {
    transform: translateY(0);
  }
  polygon.arrow-top {
    transform: translateY(18px);
  }
  .hover-btn:hover polygon.arrow-top {
    transform: translateY(0);
  }
  @keyframes border-pulsate-light {
    0% {
      border-color: rgba(17, 24, 39, 0);
    }
    50% {
      border-color: rgba(17, 24, 39, 1);
    }

    100% {
      border-color: rgba(17, 24, 39, 0);
    }
  }
  @keyframes border-pulsate-dark {
    0% {
      border-color: rgba(255, 255, 255, 0);
    }
    50% {
      border-color: rgba(255, 255, 255, 1);
    }
    100% {
      border-color: rgba(255, 255, 255, 0);
    }
  }
  @keyframes page-loading-bar {
    0% {
      transform: translateX(-100%);
    }
    /* delay frames in order to work with Safari  */
    5% {
      transform: translateX(-100%);
    }
    20%,
    24.5% {
      transform: translateX(-70%);
    }
    30%,
    37.5% {
      transform: translateX(-50%);
    }
    45%,
    52.5% {
      transform: translateX(-30%);
    }
    60%,
    67.5% {
      transform: translateX(-25%);
    }
    75%,
    82.5% {
      transform: translateX(-10%);
    }
    90%,
    91.5% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus-within:outline-none ring-offset-4 ring-offset-white transition duration-300 focus-within:ring-2 focus-within:ring-team-current hover:ring-2 hover:ring-team-current focus:ring-2 focus:ring-team-current disabled:ring-0 group-hover:ring-2 group-hover:ring-team-current group-focus:ring-2 group-focus:ring-team-current dark:ring-offset-gray-900;
  }

  .focus-ring.danger {
    @apply ring-red-500 focus-within:ring-red-500 hover:ring-red-500 focus:ring-red-500 group-hover:ring-red-500 group-focus:ring-red-500 dark:focus-within:ring-red-500 dark:hover:ring-red-500 dark:focus:ring-red-500 dark:group-hover:ring-red-500 group-focus:dark:ring-red-500;
  }

  .bg-primary {
    @apply bg-[#f5f5f5] dark:bg-[#282C35];
  }
  .bg-pink {
    @apply bg-[#D23669] dark:bg-[#FFA7C4];
  }
  .bg-pink-alt {
    @apply dark:bg-[#D23669] bg-[#FFA7C4];
  }

  .bg-secondary {
    @apply bg-gray-100 dark:bg-[#2A313C];
  }

  .bg-alt {
    @apply bg-gray-200 dark:bg-gray-700;
  }

  .bg-inverse {
    @apply bg-black dark:bg-white;
  }

  .border-primary {
    @apply dark:border-[#282C35] border-[#f5f5f5];
  }

  .border-secondary {
    @apply border-gray-200 dark:border-gray-600;
  }
  .border-pink {
    @apply border-[#D23669] dark:border-[#FFA7C4];
  }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-[#A9ADC1];
  }

  .text-inverse {
    @apply text-white dark:text-black;
  }
  .text-pink {
    @apply text-[#D23669] dark:text-[#FFA7C4];
  }
  .text-pink-inverse {
    @apply dark:text-[#D23669] text-[#FFA7C4];
  }
  .fill-primary {
    @apply dark:fill-white fill-[#282C35];
  }
  .fill-pink {
    @apply fill-[#D23669] dark:fill-[#FFA7C4];
  }
}
